@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;
  }
  
  body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    background: #03172f;
    background: linear-gradient(0deg, #03172f 30%, rgb(65, 3, 3) 70%) no-repeat center;
  }

header{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: black;    
    padding: 30px;
   
}

    .header {
        height: 60vh !important;
    }

    .title {
      margin-top: 25px;
        margin-bottom: 25px;
        font-size: 45px;
        font-weight: 600;
        color: white;
    }

p{
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
    font-style: oblique;
    padding: 0 90px;
    text-align: center;
}

form{
  padding: 30px;
  box-shadow: 0 0 20px black;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  border-radius: 20px;
  text-align: center;
  width: 400px;
}

.input-group{
  display: flex;
  flex-direction: column;
  text-align: left;
}

input, textarea{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 2px solid black;
  color: black(164, 154, 154);
  outline: none
}

.form-register p{
  height: 40px;
  font-size: 18px;
  text-align: center;
  padding: 30px;
}
.form-txt{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #ffffff;
    color: white;
    text-decoration: none;
    background: rgba(18, 1, 1, 0);
    border-radius: 90px;
}

.btn:hover{
    background: #06140d;
    transition: 0.50s;
}

.btn-home{
    display: flex;
}

.btn-home a{
    margin: 0 10px;
}
    
.content{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    color: white;
}

.sau{
    padding: 30px;
    margin: 0px;
    display: flex;  
    
}


.deve{
  padding: 30px;
  margin: 0px;
  display: block; 
}

.faq{
  margin-top: 0%;
  margin-bottom: 20px;
  display: block;
  padding-bottom: 30px;
}

.box-container {   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box{
    height: 11rem;
    width: 17rem;
    text-align: center;
    border-radius: 1rem;
    border: 2px solid #ffffff;
    box-shadow: 0 .3 5rem black;
    margin: 2rem;
}

.box-container .box i{
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  color: white;
  background: rgb(29, 2, 29);
  font-size: 2rem;
  margin: 1rem 0;
}

.box-container .boxfaq{
  height: 15rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 2.5rem;
  width: 75rem;
  display: block;
  color: white;
  text-align: left;
  border-radius: 1rem;
  box-shadow: 0 0 20px black;
}

.box-container .boxtwt{
  height: 8rem;
  width: 15rem;
  color: white;
  background: #1ca1f3;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 20px black;
  margin: 2rem;
}

.box-container .boxtwt i{
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  margin: 1rem 0;
}

.box-container .boxig{
  height: 8rem;
  width: 15rem;
  color: white;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(234,126,54,1) 0%, rgba(191,26,130,1) 100%);;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 20px black;
  margin: 2rem;
}

.box-container .boxig i{
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  margin: 1rem 0;
}

.box-container .boxdisc{
  height: 8rem;
  width: 15rem;
  color: white;
  background: #5865F2;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 20px black;
  margin: 2rem;
}

.box-container .boxdisc i{
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  margin: 1rem 0;
}

.box-container .box h3{
    font-size: 20px;
    color:white;
}

.box-container .boxfaq h3{
  margin-left: 5%;
  font-style: oblique;
  margin-top: 5%;
  font-size: 28px;
}

.box-container .boxfaq p{
  text-align: left;
  padding: 15px;
  margin-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
}

.box-container .boxtwt p{
    padding: 5px;
    font-size: 10px;
}
.box-container .boxig p{
  padding: 5px;
  font-size: 10px;
}
.box-container .boxdisc p{
  padding: 5px;
  font-size: 10px;
}


@media (max-width:991px){
    .title{
        margin-bottom: 0;
        font-size: 40px;
    }

    body{
      padding: 30px;
    }

    form{
      padding: 50px 30px;
      width: 25em;
    }

    input{

      padding: 1vh;
    }
    .sau{
        height: 120vh;

    }
}


  button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }

  .burger,
  .menu {
    position: fixed;
  }

  .logo{
    font-size: 15px;
    color: red;
  }
  
  .burger {
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 88px;
    height: 88px;
    background-image: url("menu.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .footer {
	color: white;
	text-align: center;
	margin-top: 10rem;
  justify-content: center;
  margin-bottom: 3rem;
  }

  .footerfaq{
    color: white;
    text-align: center;
    margin-top: 60rem;
    justify-content: center;
    margin-bottom: 3rem;

  }


.footer p, .footerfaq p{
   font-size: 10px;
}

  body.open .burger {
    background-image: url("close.svg");
  }
  
  .menu {
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 400px;
    height: 100%;
    background: #170425e7;
    translate: -100% 0;
    transition: translate 0.375s cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  
  .menu nav {
    opacity: 0;
  }
  
  @keyframes menu-in {
    0% {
      clip-path: ellipse(60% 60% at 0% 50%);
    }
    100% {
      clip-path: ellipse(120% 120% at 0% 50%);
    }
  }
  
  body.open .menu {
    opacity: 1;
    visibility: visible;
    translate: 0;
    animation: menu-in 0.375s;
  }
  
  body.open .menu nav {
    opacity: 1;
  }
  
  .menu nav:hover a {
    opacity: 0.25;
  }
  
  .menu nav a:hover {
    opacity: 1;
  }
  
  .menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu a {
    position: relative;
    color: #f9f9f9;
    font-size: 32px;
    font-family: "Euclid Circular A";
    padding: 20px 0;
    width: 300px;
    text-decoration: none;
    transition: 0.4s;
  }
  
  .menu a::before,
  .menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    transition: 0.4s;
  }
  
  .menu a::before {
    opacity: 0;
    background: rgb(255 255 255 / 20%);
  }
  
  .menu a::after {
    transform: scaleX(0);
    transform-origin: 0% 50%;
    background: #f7f7f7;
  }
  
  .menu a:hover::before {
    opacity: 1;
  }
  
  .menu a:hover::after {
    transform: scaleX(1);
  }
  
  body.open .menu a {
    animation: appear 0.25s backwards;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      translate: -30px 0;
    }
    100% {
      opacity: 1;
    }
  }