@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    background: #03172f;
    background: linear-gradient(0deg, #03172f 30%, rgb(33, 2, 2) 70%);
  }

header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;    
}

    .header {
        height: 60vh !important;
    }

    .title {
        margin-bottom: 50px;
        font-size: 45px;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
    }

p{
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
    font-style: oblique;
    padding: 0 90px;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #ffffff;
    color: white;
    text-decoration: none;
    background: rgba(18, 1, 1, 0);
    border-radius: 90px;
}

.btn:hover{
    background: #06140d;
    transition: 0.50s;
}

.btn-home{
    display: flex;
}

.btn-home a{
    margin: 0 10px;
}
    
.content{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.sau{
    padding: 30px;
    margin: 0px;
    display: flex;    
}

.box-container {   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box{
    height: 11rem;
    width: 17rem;
    text-align: center;
    border-radius: 1rem;
    border: 2px solid #ffffff;
    box-shadow: 0 .3 5rem black;
    margin: 2rem;
}



.box-container .box i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: white;
    background: rgb(29, 2, 29);
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box h3{
    font-size: 20px;
    color:white;
}

.box-container .box p{
    padding: 0 5px;
    font-size: 16px;
}

.contain{
    padding-top: 20px;
    padding-bottom: 0;

}

@media (max-width:768px){
    .title{
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau{
        height: 120vh;

    }
}


  button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }

  .burger,
  .menu {
    position: fixed;
  }

  .logo{
    font-size: 15px;
    color: red;
  }
  
  .burger {
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 88px;
    height: 88px;
    background-image: url("menu.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .footer {
	color: white;
	text-align: center;
	margin-top: 6rem;
}

.footer .foot{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

  body.open .burger {
    background-image: url("close.svg");
  }
  
  .menu {
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 400px;
    height: 100%;
    background: #170425e7;
    translate: -100% 0;
    transition: translate 0.375s cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  
  .menu nav {
    opacity: 0;
  }
  
  @keyframes menu-in {
    0% {
      clip-path: ellipse(60% 60% at 0% 50%);
    }
    100% {
      clip-path: ellipse(120% 120% at 0% 50%);
    }
  }
  
  body.open .menu {
    opacity: 1;
    visibility: visible;
    translate: 0;
    animation: menu-in 0.375s;
  }
  
  body.open .menu nav {
    opacity: 1;
  }
  
  .menu nav:hover a {
    opacity: 0.25;
  }
  
  .menu nav a:hover {
    opacity: 1;
  }
  
  .menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu a {
    position: relative;
    color: #f9f9f9;
    font-size: 32px;
    font-family: "Euclid Circular A";
    padding: 20px 0;
    width: 300px;
    text-decoration: none;
    transition: 0.4s;
  }
  
  .menu a::before,
  .menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    transition: 0.4s;
  }
  
  .menu a::before {
    opacity: 0;
    background: rgb(255 255 255 / 20%);
  }
  
  .menu a::after {
    transform: scaleX(0);
    transform-origin: 0% 50%;
    background: #f7f7f7;
  }
  
  .menu a:hover::before {
    opacity: 1;
  }
  
  .menu a:hover::after {
    transform: scaleX(1);
  }
  
  body.open .menu a {
    animation: appear 0.25s backwards;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      translate: -30px 0;
    }
    100% {
      opacity: 1;
    }
  }